### String

In [1]:
str1 = "hello python"

In [4]:
str1

'Anant'

In [3]:
str1 = 'Anant'

### OOP

In [ ]:
## truck1
### values, variables
- no of wheels
- load
- capacity
- color
- model no
- seats
- fueltype
- engine power
- mileage
### action, methods
- run
- stop
- reverse
- break
- left trun
- right turn
- unload

In [ ]:
- Everything is object in python

In [16]:
str1 = 'anant'

In [17]:
str1.count('a')

2

In [18]:
str1.count('n')

2

In [20]:
str1.capitalize()

'Anant'

In [8]:
len(str1)

5

In [24]:
str1.index('t')

4

In [ ]:
anant

01234

In [30]:
a = 3
b = 2
a + b
a - b
a * b

6

In [32]:
a = 'jay'
b = 'hello'
a + b
# a - b
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
10 * a

'jayjayjayjayjayjayjayjayjayjay'

In [35]:
def addition(a, b):
    return a + b

In [36]:
addition(2, 3)

5

In [37]:
addition('hello', 'prakhar')

'helloprakhar'

In [ ]:
- Manusha
- OOP example
- truck
- another example
- use jupyter notebook
- 5 minutes